<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>数据可视化系统</title>
        <div th:include="tags/tag::css"></div>
        <div th:include="tags/tag::js"></div>
    </head>
    
    <body>
        <div id="wrapper">
            <!-- 导航栏 -->
            <div th:include="tags/tag::nav"></div>
            <div th:include="tags/nav::left"></div>
            <script>
                $(function(){ 
                    $("#ruanjian_data").addClass("active-menu");
                    $("#ruanjian_nav").click();
                    loadIndexData('ruanjian');
                })
            </script>
            <!-- 正文  -->
            <div id="page-wrapper" style="min-height:800px">
                <div id="page-inner" style="min-height:800px">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">数据总览 <small>极速下载站</small></h1>
                    </div>
                </div> 
                <!-- /. ROW  -->                   
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">数据概览(限制浏览10000条)</div>
                            <div class="panel-body">
                                <table id="table"></table>
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
                <!-- /. ROW  -->
              </div>
            </div>
          <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->
        <script src="/assets/js/index.js"></script>
    </body>

</html>